<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EduFavoriteMapper">
    <resultMap type="EduFavorite" id="EduFavoriteResult">
        <result property="favoriteId" column="favorite_id"/>
        <result property="resourceId" column="resource_id"/>
        <result property="resourceTitle" column="resource_title"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectFavoriteVo">
        select favorite_id, resource_id, resource_title, user_id, user_name, create_by, create_time, remark from edu_favorite
    </sql>

    <select id="selectFavoriteList" parameterType="EduFavorite" resultMap="EduFavoriteResult">
        <include refid="selectFavoriteVo"/>
        <where>
            1 = 1
            <if test="resourceTitle != null and resourceTitle != ''">and resource_title like concat('%', #{resourceTitle}, '%')</if>
            <if test="userName != null and userName != ''">and user_name like concat('%', #{userName}, '%')</if>
            <if test="userId != null">and user_id = #{userId}</if>
        </where>
        order by favorite_id desc
    </select>

    <select id="selectFavoriteById" parameterType="Long" resultMap="EduFavoriteResult">
        <include refid="selectFavoriteVo"/> where favorite_id = #{favoriteId}
    </select>

    <select id="selectByUserIdAndResourceId" resultMap="EduFavoriteResult">
        <include refid="selectFavoriteVo"/> where user_id = #{userId} and resource_id = #{resourceId}
    </select>

    <insert id="insertFavorite" parameterType="EduFavorite" useGeneratedKeys="true" keyProperty="favoriteId">
        insert into edu_favorite(resource_id, resource_title, user_id, user_name, create_by, create_time, remark)
        values(#{resourceId}, #{resourceTitle}, #{userId}, #{userName}, #{createBy}, sysdate(), #{remark})
    </insert>

    <delete id="deleteById" parameterType="Long">
        delete from edu_favorite where favorite_id = #{favoriteId}
    </delete>

    <delete id="deleteFavoriteByIds">
        delete from edu_favorite where favorite_id in
        <foreach collection="array" item="favoriteId" open="(" separator="," close=")">
            #{favoriteId}
        </foreach>
    </delete>
</mapper>
