-- MySQL dump 10.13  Distrib 8.0.17, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: ry-vue
-- ------------------------------------------------------
-- Server version	8.0.17

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ai_audit_result`
--

DROP TABLE IF EXISTS `ai_audit_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_audit_result` (
  `result_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'AI????ID',
  `resource_id` bigint(20) NOT NULL COMMENT '??ID',
  `resource_title` varchar(200) NOT NULL COMMENT '????',
  `risk_score` decimal(10,2) DEFAULT '0.00' COMMENT '???',
  `duplicate_score` decimal(10,2) DEFAULT '0.00' COMMENT '???',
  `compliance_level` varchar(50) DEFAULT NULL COMMENT '????',
  `hit_words` varchar(1000) DEFAULT NULL COMMENT '?????',
  `suggestion` varchar(2000) DEFAULT NULL COMMENT '????',
  `audit_summary` varchar(2000) DEFAULT NULL COMMENT '????',
  `status` varchar(20) DEFAULT 'done' COMMENT '??',
  `raw_result` longtext COMMENT '????',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `update_by` varchar(64) DEFAULT '' COMMENT '???',
  `update_time` datetime DEFAULT NULL COMMENT '????',
  `remark` varchar(500) DEFAULT NULL COMMENT '??',
  PRIMARY KEY (`result_id`),
  UNIQUE KEY `uk_ai_audit_resource` (`resource_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_audit_result`
--

LOCK TABLES `ai_audit_result` WRITE;
/*!40000 ALTER TABLE `ai_audit_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_audit_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_embedding_index`
--

DROP TABLE IF EXISTS `ai_embedding_index`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_embedding_index` (
  `index_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `resource_id` bigint(20) NOT NULL COMMENT '??ID',
  `resource_title` varchar(200) NOT NULL COMMENT '????',
  `keyword_text` varchar(4000) DEFAULT NULL COMMENT '?????',
  `summary_text` varchar(2000) DEFAULT NULL COMMENT '????',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `update_by` varchar(64) DEFAULT '' COMMENT '???',
  `update_time` datetime DEFAULT NULL COMMENT '????',
  `remark` varchar(500) DEFAULT NULL COMMENT '??',
  PRIMARY KEY (`index_id`),
  UNIQUE KEY `uk_ai_embedding_resource` (`resource_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_embedding_index`
--

LOCK TABLES `ai_embedding_index` WRITE;
/*!40000 ALTER TABLE `ai_embedding_index` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_embedding_index` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_prompt_template`
--

DROP TABLE IF EXISTS `ai_prompt_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_prompt_template` (
  `template_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `template_key` varchar(100) NOT NULL COMMENT '??KEY',
  `template_name` varchar(200) NOT NULL COMMENT '????',
  `prompt_content` varchar(4000) NOT NULL COMMENT '?????',
  `status` char(1) DEFAULT '0' COMMENT '???0?? 1???',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `update_by` varchar(64) DEFAULT '' COMMENT '???',
  `update_time` datetime DEFAULT NULL COMMENT '????',
  `remark` varchar(500) DEFAULT NULL COMMENT '??',
  PRIMARY KEY (`template_id`),
  UNIQUE KEY `uk_ai_prompt_key` (`template_key`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI?????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_prompt_template`
--

LOCK TABLES `ai_prompt_template` WRITE;
/*!40000 ALTER TABLE `ai_prompt_template` DISABLE KEYS */;
INSERT INTO `ai_prompt_template` VALUES (1,'resource.summary','资源摘要生成','请根据资源标题、课程、分类和简介生成一段适用于教学资源管理系统的中文摘要，突出适用场景、资源类型和教学用途。','0','admin','2026-03-24 17:41:36','admin','2026-03-24 19:34:15','????'),(2,'resource.tags','资源标签生成','请从资源标题、简介、课程和分类中提取 3-8 个中文标签，优先输出课程名称、知识点、资源类型和适用对象。','0','admin','2026-03-24 17:41:36','admin','2026-03-24 19:34:15','????'),(3,'resource.audit','资源内容审核','请结合资源标题、简介、文件信息与教学场晭，对资源进行合规审核，输出风险点、重复风险和处理建议。','0','admin','2026-03-24 17:41:36','admin','2026-03-24 19:34:15','????');
/*!40000 ALTER TABLE `ai_prompt_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_qa_log`
--

DROP TABLE IF EXISTS `ai_qa_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_qa_log` (
  `qa_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '????ID',
  `user_id` bigint(20) DEFAULT NULL COMMENT '??ID',
  `user_name` varchar(100) DEFAULT NULL COMMENT '???',
  `question` varchar(2000) NOT NULL COMMENT '??',
  `answer` varchar(4000) DEFAULT NULL COMMENT '??',
  `reference_resource_ids` varchar(1000) DEFAULT NULL COMMENT '????ID',
  `reference_titles` varchar(1000) DEFAULT NULL COMMENT '??????',
  `model_name` varchar(100) DEFAULT 'Local-Heuristic-AI' COMMENT '????',
  `cost_millis` bigint(20) DEFAULT '0' COMMENT '????',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `remark` varchar(500) DEFAULT NULL COMMENT '??',
  PRIMARY KEY (`qa_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_qa_log`
--

LOCK TABLES `ai_qa_log` WRITE;
/*!40000 ALTER TABLE `ai_qa_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_qa_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_task`
--

DROP TABLE IF EXISTS `ai_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_task` (
  `task_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `task_type` varchar(50) NOT NULL COMMENT '????',
  `resource_id` bigint(20) DEFAULT NULL COMMENT '??ID',
  `resource_title` varchar(200) DEFAULT NULL COMMENT '????',
  `trigger_scene` varchar(50) DEFAULT NULL COMMENT '????',
  `task_status` varchar(20) DEFAULT 'success' COMMENT '????',
  `result_json` longtext COMMENT '??JSON',
  `error_msg` varchar(1000) DEFAULT NULL COMMENT '????',
  `start_time` datetime DEFAULT NULL COMMENT '????',
  `finish_time` datetime DEFAULT NULL COMMENT '????',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `update_by` varchar(64) DEFAULT '' COMMENT '???',
  `update_time` datetime DEFAULT NULL COMMENT '????',
  `remark` varchar(500) DEFAULT NULL COMMENT '??',
  PRIMARY KEY (`task_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI??';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_task`
--

LOCK TABLES `ai_task` WRITE;
/*!40000 ALTER TABLE `ai_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_category`
--

DROP TABLE IF EXISTS `edu_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_category` (
  `category_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'category id',
  `parent_id` bigint(20) DEFAULT '0' COMMENT 'parent id',
  `ancestors` varchar(255) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT 'ancestor list',
  `category_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT 'category name',
  `order_num` int(4) DEFAULT '0' COMMENT 'order num',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT 'status',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT 'delete flag',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT 'create by',
  `create_time` datetime DEFAULT NULL COMMENT 'create time',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT 'update by',
  `update_time` datetime DEFAULT NULL COMMENT 'update time',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'remark',
  PRIMARY KEY (`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='edu category';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_category`
--

LOCK TABLES `edu_category` WRITE;
/*!40000 ALTER TABLE `edu_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_comment`
--

DROP TABLE IF EXISTS `edu_comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_comment` (
  `comment_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '评论ID',
  `resource_id` bigint(20) NOT NULL COMMENT '资源ID',
  `resource_title` varchar(200) COLLATE utf8mb4_general_ci NOT NULL COMMENT '资源标题',
  `user_id` bigint(20) NOT NULL COMMENT '评论用户ID',
  `user_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '评论用户',
  `parent_id` bigint(20) DEFAULT '0' COMMENT '父评论ID',
  `parent_user_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '父级评论用户',
  `content` varchar(2000) COLLATE utf8mb4_general_ci NOT NULL COMMENT '评论内容',
  `audit_status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT 'pending' COMMENT '审核状态',
  `like_count` int(11) DEFAULT '0' COMMENT '点赞数',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '删除标记',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`comment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='资源评论';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_comment`
--

LOCK TABLES `edu_comment` WRITE;
/*!40000 ALTER TABLE `edu_comment` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_course`
--

DROP TABLE IF EXISTS `edu_course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_course` (
  `course_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'course id',
  `course_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT 'course name',
  `course_code` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'course code',
  `teacher_user_id` bigint(20) DEFAULT NULL COMMENT 'teacher user id',
  `teacher_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'teacher name',
  `course_intro` varchar(1000) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'course intro',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT 'status',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT 'delete flag',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT 'create by',
  `create_time` datetime DEFAULT NULL COMMENT 'create time',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT 'update by',
  `update_time` datetime DEFAULT NULL COMMENT 'update time',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'remark',
  PRIMARY KEY (`course_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='edu course';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_course`
--

LOCK TABLES `edu_course` WRITE;
/*!40000 ALTER TABLE `edu_course` DISABLE KEYS */;
INSERT INTO `edu_course` VALUES (1,'数据结构','KJ001',1,'张老师','围绕数据结构与算法设计，提供课件、实验和练习资料。','0','0','admin','2026-03-24 12:31:01','admin','2026-03-24 15:25:58','专业核心课程'),(2,'高等数学','SX201',1,'张老师','提供高等数学课堂讲义、习题解析与复习资料。','0','0','admin','2026-03-24 12:31:01','admin','2026-03-24 15:25:58','公共基础课程'),(3,'大学英语','YY301',1,'李老师','涵盖听说读写训练资料与课堂配套课件。','0','0','admin','2026-03-24 12:31:01','admin','2026-03-24 15:25:58','公共基础课程'),(4,'教学设计基础','JX101',1,'王老师','面向师范与教学类专业的教学设计基础资源。','0','0','admin','2026-03-24 13:33:54','admin','2026-03-24 15:25:58','教学能力课程');
/*!40000 ALTER TABLE `edu_course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_course_chapter`
--

DROP TABLE IF EXISTS `edu_course_chapter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_course_chapter` (
  `chapter_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '章节ID',
  `course_id` bigint(20) NOT NULL COMMENT '课程ID',
  `course_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '课程名称',
  `chapter_title` varchar(200) COLLATE utf8mb4_general_ci NOT NULL COMMENT '章节标题',
  `chapter_intro` varchar(1000) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '章节简介',
  `order_num` int(4) DEFAULT '1' COMMENT '排序号',
  `resource_count` int(11) DEFAULT '0' COMMENT '关联资源数',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '删除标记（0存在 2删除）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`chapter_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='课程章节';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_course_chapter`
--

LOCK TABLES `edu_course_chapter` WRITE;
/*!40000 ALTER TABLE `edu_course_chapter` DISABLE KEYS */;
INSERT INTO `edu_course_chapter` VALUES (1,1,'数据结构','第一章 绪论','课程目标、学习方法与评价说明',1,2,'0','0','admin','2026-03-24 16:58:39','',NULL,'示例章节'),(2,2,'高等数学','第一章 极限与连续','极限概念、连续性及典型例题',1,3,'0','0','admin','2026-03-24 16:58:39','',NULL,'示例章节');
/*!40000 ALTER TABLE `edu_course_chapter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_course_notice`
--

DROP TABLE IF EXISTS `edu_course_notice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_course_notice` (
  `notice_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '????ID',
  `course_id` bigint(20) NOT NULL COMMENT '??ID',
  `course_name` varchar(100) NOT NULL COMMENT '????',
  `notice_title` varchar(200) NOT NULL COMMENT '????',
  `notice_content` varchar(4000) NOT NULL COMMENT '????',
  `publisher_id` bigint(20) NOT NULL COMMENT '???ID',
  `publisher_name` varchar(100) NOT NULL COMMENT '???',
  `status` char(1) DEFAULT '0' COMMENT '???0?? 1???',
  `del_flag` char(1) DEFAULT '0' COMMENT '????',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `update_by` varchar(64) DEFAULT '' COMMENT '???',
  `update_time` datetime DEFAULT NULL COMMENT '????',
  `remark` varchar(500) DEFAULT NULL COMMENT '??',
  PRIMARY KEY (`notice_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_course_notice`
--

LOCK TABLES `edu_course_notice` WRITE;
/*!40000 ALTER TABLE `edu_course_notice` DISABLE KEYS */;
INSERT INTO `edu_course_notice` VALUES (1,1,'高等数学','课程资源上新通知','本周已更新高等数学课程课件、教案与习题资料，请同学们及时查看下载。',1,'admin','0','0','admin','2026-03-24 17:41:36','admin','2026-03-24 19:34:15','???????');
/*!40000 ALTER TABLE `edu_course_notice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_download_log`
--

DROP TABLE IF EXISTS `edu_download_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_download_log` (
  `log_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '下载日志ID',
  `resource_id` bigint(20) NOT NULL COMMENT '资源ID',
  `resource_title` varchar(200) COLLATE utf8mb4_general_ci NOT NULL COMMENT '资源标题',
  `user_id` bigint(20) NOT NULL COMMENT '下载用户ID',
  `user_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '下载用户名',
  `file_url` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '文件地址',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='下载日志';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_download_log`
--

LOCK TABLES `edu_download_log` WRITE;
/*!40000 ALTER TABLE `edu_download_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_download_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_favorite`
--

DROP TABLE IF EXISTS `edu_favorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_favorite` (
  `favorite_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '收藏ID',
  `resource_id` bigint(20) NOT NULL COMMENT '资源ID',
  `resource_title` varchar(200) COLLATE utf8mb4_general_ci NOT NULL COMMENT '资源标题',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `user_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '用户名',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`favorite_id`),
  UNIQUE KEY `uk_favorite_user_resource` (`user_id`,`resource_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='资源收藏';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_favorite`
--

LOCK TABLES `edu_favorite` WRITE;
/*!40000 ALTER TABLE `edu_favorite` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_favorite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_global_config`
--

DROP TABLE IF EXISTS `edu_global_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_global_config` (
  `config_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '配置ID',
  `global_upload_mb` int(11) NOT NULL DEFAULT '500' COMMENT '全局文件上传限制MB',
  `video_upload_mb` int(11) NOT NULL DEFAULT '1024' COMMENT '视频上传限制MB',
  `design_upload_mb` int(11) NOT NULL DEFAULT '300' COMMENT '设计文件上传限制MB',
  `teacher_default_storage_gb` int(11) NOT NULL DEFAULT '20' COMMENT '教师默认空间GB',
  `teacher_default_upload_mb` int(11) NOT NULL DEFAULT '500' COMMENT '教师默认上传MB',
  `student_default_storage_gb` int(11) NOT NULL DEFAULT '5' COMMENT '学生默认空间GB',
  `student_default_upload_mb` int(11) NOT NULL DEFAULT '100' COMMENT '学生默认上传MB',
  `share_default_days` int(11) NOT NULL DEFAULT '7' COMMENT '?????????',
  `share_max_days` int(11) NOT NULL DEFAULT '30' COMMENT '?????????',
  `password_share_enable` char(1) NOT NULL DEFAULT '0' COMMENT '?????????0?? 1???',
  `teacher_share_enable` char(1) NOT NULL DEFAULT '0' COMMENT '???????0?? 1???',
  `student_share_enable` char(1) NOT NULL DEFAULT '1' COMMENT '???????0?? 1???',
  `recycle_keep_days` int(11) NOT NULL DEFAULT '15' COMMENT '???????',
  `storage_warn_percent` int(11) NOT NULL DEFAULT '85' COMMENT '?????????',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT '' COMMENT '备注',
  PRIMARY KEY (`config_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='教学资源全局配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_global_config`
--

LOCK TABLES `edu_global_config` WRITE;
/*!40000 ALTER TABLE `edu_global_config` DISABLE KEYS */;
INSERT INTO `edu_global_config` VALUES (1,500,1024,300,20,500,5,100,7,30,'0','0','1',15,85,'admin','2026-03-23 22:57:48','admin','2026-03-24 15:25:58','教学资源空间与分享统一配置');
/*!40000 ALTER TABLE `edu_global_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_message_center`
--

DROP TABLE IF EXISTS `edu_message_center`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_message_center` (
  `message_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `user_id` bigint(20) NOT NULL COMMENT '????ID',
  `user_name` varchar(100) NOT NULL COMMENT '?????',
  `message_title` varchar(200) NOT NULL COMMENT '????',
  `message_content` varchar(4000) NOT NULL COMMENT '????',
  `message_type` varchar(50) DEFAULT 'system' COMMENT '????',
  `biz_id` bigint(20) DEFAULT NULL COMMENT '??ID',
  `read_status` char(1) DEFAULT '0' COMMENT '?????0?? 1???',
  `del_flag` char(1) DEFAULT '0' COMMENT '????',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `update_by` varchar(64) DEFAULT '' COMMENT '???',
  `update_time` datetime DEFAULT NULL COMMENT '????',
  `remark` varchar(500) DEFAULT NULL COMMENT '??',
  PRIMARY KEY (`message_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='??????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_message_center`
--

LOCK TABLES `edu_message_center` WRITE;
/*!40000 ALTER TABLE `edu_message_center` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_message_center` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_report`
--

DROP TABLE IF EXISTS `edu_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_report` (
  `report_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '举报ID',
  `report_type` varchar(30) COLLATE utf8mb4_general_ci NOT NULL COMMENT '举报类型(resource/comment)',
  `target_id` bigint(20) NOT NULL COMMENT '目标ID',
  `target_title` varchar(200) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '目标标题',
  `reporter_id` bigint(20) NOT NULL COMMENT '举报人ID',
  `reporter_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '举报人',
  `reason_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '举报原因类型',
  `report_content` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '举报说明',
  `status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT 'pending' COMMENT '状态',
  `handle_result` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '处理结果',
  `handler_id` bigint(20) DEFAULT NULL COMMENT '处理人ID',
  `handler_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '处理人',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '删除标记',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`report_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='举报处理';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_report`
--

LOCK TABLES `edu_report` WRITE;
/*!40000 ALTER TABLE `edu_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_resource`
--

DROP TABLE IF EXISTS `edu_resource`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_resource` (
  `resource_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '资源ID',
  `resource_title` varchar(200) NOT NULL COMMENT '资源标题',
  `resource_type` varchar(50) NOT NULL COMMENT '资源类型',
  `category_name` varchar(100) DEFAULT '' COMMENT '分类名称',
  `course_name` varchar(100) DEFAULT '' COMMENT '课程名称',
  `tag_names` varchar(500) DEFAULT NULL COMMENT 'tag names',
  `file_url` varchar(500) DEFAULT '' COMMENT '文件地址',
  `cover_url` varchar(500) DEFAULT NULL COMMENT 'cover url',
  `resource_version` varchar(20) DEFAULT 'v1.0' COMMENT 'resource version',
  `file_size_mb` decimal(10,2) DEFAULT '0.00' COMMENT '文件大小MB',
  `uploader_id` bigint(20) DEFAULT NULL COMMENT '上传人ID',
  `uploader_name` varchar(100) DEFAULT '' COMMENT '上传人姓名',
  `audit_status` varchar(20) NOT NULL DEFAULT 'pending' COMMENT '审核状态(pending/approved/rejected)',
  `publish_status` varchar(20) NOT NULL DEFAULT 'draft' COMMENT '发布状态(draft/published/review/rejected)',
  `recommend_flag` char(1) DEFAULT '0' COMMENT 'recommend flag',
  `download_count` int(11) NOT NULL DEFAULT '0' COMMENT '下载次数',
  `favorite_count` int(11) NOT NULL DEFAULT '0' COMMENT '收藏次数',
  `like_count` int(11) NOT NULL DEFAULT '0' COMMENT '????',
  `resource_desc` varchar(1000) DEFAULT '' COMMENT '资源说明',
  `del_flag` char(1) NOT NULL DEFAULT '0' COMMENT '删除标识（0存在 2删除）',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT '' COMMENT '备注',
  PRIMARY KEY (`resource_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='教学资源表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_resource`
--

LOCK TABLES `edu_resource` WRITE;
/*!40000 ALTER TABLE `edu_resource` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_resource` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_resource_audit`
--

DROP TABLE IF EXISTS `edu_resource_audit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_resource_audit` (
  `audit_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '审核ID',
  `resource_id` bigint(20) NOT NULL COMMENT '资源ID',
  `resource_title` varchar(200) DEFAULT '' COMMENT '资源标题',
  `audit_status` varchar(20) NOT NULL COMMENT '审核结果',
  `audit_reason` varchar(500) DEFAULT '' COMMENT '审核意见',
  `auditor_id` bigint(20) DEFAULT NULL COMMENT '审核人ID',
  `auditor_name` varchar(100) DEFAULT '' COMMENT '审核人姓名',
  `audit_time` datetime DEFAULT NULL COMMENT '审核时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT '' COMMENT '备注',
  PRIMARY KEY (`audit_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='教学资源审核记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_resource_audit`
--

LOCK TABLES `edu_resource_audit` WRITE;
/*!40000 ALTER TABLE `edu_resource_audit` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_resource_audit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_resource_like`
--

DROP TABLE IF EXISTS `edu_resource_like`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_resource_like` (
  `like_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `resource_id` bigint(20) NOT NULL COMMENT '??ID',
  `resource_title` varchar(200) NOT NULL COMMENT '????',
  `user_id` bigint(20) NOT NULL COMMENT '??ID',
  `user_name` varchar(100) NOT NULL COMMENT '???',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  PRIMARY KEY (`like_id`),
  UNIQUE KEY `uk_like_user_resource` (`user_id`,`resource_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_resource_like`
--

LOCK TABLES `edu_resource_like` WRITE;
/*!40000 ALTER TABLE `edu_resource_like` DISABLE KEYS */;
/*!40000 ALTER TABLE `edu_resource_like` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_space_share`
--

DROP TABLE IF EXISTS `edu_space_share`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_space_share` (
  `share_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '??ID',
  `owner_user_id` bigint(20) NOT NULL COMMENT '???ID',
  `owner_name` varchar(100) DEFAULT '' COMMENT '?????',
  `share_name` varchar(100) NOT NULL COMMENT '????',
  `target_type` varchar(20) NOT NULL DEFAULT 'folder' COMMENT '????(folder/file)',
  `target_name` varchar(200) NOT NULL COMMENT '????',
  `target_path` varchar(500) DEFAULT '' COMMENT '????',
  `share_mode` varchar(20) NOT NULL DEFAULT 'password' COMMENT '????(public/password/internal)',
  `share_password` varchar(50) DEFAULT '' COMMENT '????',
  `expire_time` datetime DEFAULT NULL COMMENT '????',
  `download_limit` int(11) NOT NULL DEFAULT '0' COMMENT '????(0??)',
  `download_count` int(11) NOT NULL DEFAULT '0' COMMENT '?????',
  `view_count` int(11) NOT NULL DEFAULT '0' COMMENT '????',
  `status` char(1) NOT NULL DEFAULT '0' COMMENT '???0?? 1???',
  `create_by` varchar(64) DEFAULT '' COMMENT '???',
  `create_time` datetime DEFAULT NULL COMMENT '????',
  `update_by` varchar(64) DEFAULT '' COMMENT '???',
  `update_time` datetime DEFAULT NULL COMMENT '????',
  `remark` varchar(500) DEFAULT '' COMMENT '??',
  PRIMARY KEY (`share_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='???????';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_space_share`
--

LOCK TABLES `edu_space_share` WRITE;
/*!40000 ALTER TABLE `edu_space_share` DISABLE KEYS */;
INSERT INTO `edu_space_share` VALUES (1,100,'张老师','数据结构课程资料夹','folder','数据结构-第一章','/教师空间/张老师/数据结构-第一章','password','A1234','2026-03-31 13:56:44',50,8,26,'0','admin','2026-03-24 13:56:44','admin','2026-03-24 15:25:58','学生课后复习分享'),(2,1,'平台管理员','新生指引课件','file','平台使用指南.pptx','/公共资源/平台使用指南.pptx','public','','2026-04-23 13:56:44',0,12,46,'0','admin','2026-03-24 13:56:44','admin','2026-03-24 15:25:58','新生入学指导文件');
/*!40000 ALTER TABLE `edu_space_share` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_tag`
--

DROP TABLE IF EXISTS `edu_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_tag` (
  `tag_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'tag id',
  `tag_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT 'tag name',
  `tag_type` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'general' COMMENT 'tag type',
  `color` varchar(30) COLLATE utf8mb4_general_ci DEFAULT '#409EFF' COMMENT 'tag color',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT 'status',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT 'delete flag',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT 'create by',
  `create_time` datetime DEFAULT NULL COMMENT 'create time',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT 'update by',
  `update_time` datetime DEFAULT NULL COMMENT 'update time',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'remark',
  PRIMARY KEY (`tag_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='edu tag';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_tag`
--

LOCK TABLES `edu_tag` WRITE;
/*!40000 ALTER TABLE `edu_tag` DISABLE KEYS */;
INSERT INTO `edu_tag` VALUES (1,'精品资源','推荐','#67C23A','0','0','admin','2026-03-24 12:31:01','',NULL,'精品课程与重点推荐资源'),(2,'教师推荐','推荐','#E6A23C','0','0','admin','2026-03-24 12:31:01','',NULL,'教师优先推荐学习资料'),(3,'期中复习','阶段','#409EFF','0','0','admin','2026-03-24 12:31:01','',NULL,'适用于期中阶段复习'),(4,'期末冲刺','阶段','#F56C6C','0','0','admin','2026-03-24 12:31:01','',NULL,'适用于期末阶段冲刺'),(5,'最新上传','时效','#909399','0','0','admin','2026-03-24 12:31:01','',NULL,'近期上传的最新资料');
/*!40000 ALTER TABLE `edu_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_teacher_student_grant`
--

DROP TABLE IF EXISTS `edu_teacher_student_grant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_teacher_student_grant` (
  `grant_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '授权ID',
  `teacher_user_id` bigint(20) NOT NULL COMMENT '教师ID',
  `teacher_name` varchar(100) DEFAULT '' COMMENT '教师姓名',
  `student_user_id` bigint(20) NOT NULL COMMENT '学生ID',
  `student_name` varchar(100) DEFAULT '' COMMENT '学生姓名',
  `course_name` varchar(100) NOT NULL COMMENT '课程名称',
  `grant_preset` varchar(50) DEFAULT 'read' COMMENT '授权模板',
  `grant_perms` varchar(500) DEFAULT '' COMMENT '授权内容',
  `status` char(1) NOT NULL DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `expires_at` datetime DEFAULT NULL COMMENT '过期时间',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT '' COMMENT '备注',
  PRIMARY KEY (`grant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='教师学生授权表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_teacher_student_grant`
--

LOCK TABLES `edu_teacher_student_grant` WRITE;
/*!40000 ALTER TABLE `edu_teacher_student_grant` DISABLE KEYS */;
INSERT INTO `edu_teacher_student_grant` VALUES (1,100,'张老师',101,'王同学','数据结构','read','课件浏览,作业下载','0','2026-09-20 13:56:44','admin','2026-03-24 13:56:44','admin','2026-03-24 15:25:58','课程资料查阅授权');
/*!40000 ALTER TABLE `edu_teacher_student_grant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edu_user_quota`
--

DROP TABLE IF EXISTS `edu_user_quota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edu_user_quota` (
  `quota_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '额度ID',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `storage_gb` int(11) NOT NULL DEFAULT '0' COMMENT '存储空间GB',
  `upload_mb` int(11) NOT NULL DEFAULT '0' COMMENT '单文件上传限制MB',
  `used_storage_mb` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT '????MB',
  `status` char(1) NOT NULL DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `allow_share` char(1) NOT NULL DEFAULT '0' COMMENT '???????0?? 1???',
  `allow_password_share` char(1) NOT NULL DEFAULT '0' COMMENT '?????????0?? 1???',
  `max_share_days` int(11) NOT NULL DEFAULT '30' COMMENT '??????',
  `ban_reason` varchar(255) DEFAULT '' COMMENT '????',
  `create_by` varchar(64) DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) DEFAULT '' COMMENT '备注',
  PRIMARY KEY (`quota_id`),
  UNIQUE KEY `uk_edu_user_quota_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='教学资源用户额度表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edu_user_quota`
--

LOCK TABLES `edu_user_quota` WRITE;
/*!40000 ALTER TABLE `edu_user_quota` DISABLE KEYS */;
INSERT INTO `edu_user_quota` VALUES (1,1,50,1024,1280.00,'0','0','0',30,'','admin','2026-03-24 13:56:44','admin','2026-03-24 15:25:58','管理员空间额度'),(2,100,30,512,860.00,'0','0','0',30,'','admin','2026-03-24 13:56:44','admin','2026-03-24 15:25:58','教师默认空间'),(3,101,8,200,320.00,'0','1','0',7,'','admin','2026-03-24 13:56:44','admin','2026-03-24 15:25:58','学生默认空间'),(4,102,10,200,120.00,'0','1','0',7,'','admin','2026-03-24 13:56:44','admin','2026-03-24 15:25:58','审核账号空间'),(6,104,5,100,0.00,'0','1','0',7,'','self-register','2026-03-24 15:58:00','self-register','2026-03-24 15:58:00','学生注册默认空间');
/*!40000 ALTER TABLE `edu_user_quota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gen_table`
--

DROP TABLE IF EXISTS `gen_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gen_table` (
  `table_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '编号',
  `table_name` varchar(200) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '表名称',
  `table_comment` varchar(500) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '表描述',
  `sub_table_name` varchar(64) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '关联子表的表名',
  `sub_table_fk_name` varchar(64) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '子表关联的外键名',
  `class_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '实体类名称',
  `tpl_category` varchar(200) COLLATE utf8mb4_general_ci DEFAULT 'crud' COMMENT '使用的模板（crud单表操作 tree树表操作）',
  `tpl_web_type` varchar(30) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '前端模板类型（element-ui模版 element-plus模版）',
  `package_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '生成包路径',
  `module_name` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '生成模块名',
  `business_name` varchar(30) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '生成业务名',
  `function_name` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '生成功能名',
  `function_author` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '生成功能作者',
  `gen_type` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '生成代码方式（0zip压缩包 1自定义路径）',
  `gen_path` varchar(200) COLLATE utf8mb4_general_ci DEFAULT '/' COMMENT '生成路径（不填默认项目路径）',
  `options` varchar(1000) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '其它生成选项',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`table_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='代码生成业务表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gen_table`
--

LOCK TABLES `gen_table` WRITE;
/*!40000 ALTER TABLE `gen_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `gen_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gen_table_column`
--

DROP TABLE IF EXISTS `gen_table_column`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gen_table_column` (
  `column_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '编号',
  `table_id` bigint(20) DEFAULT NULL COMMENT '归属表编号',
  `column_name` varchar(200) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '列名称',
  `column_comment` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '列描述',
  `column_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '列类型',
  `java_type` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'JAVA类型',
  `java_field` varchar(200) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'JAVA字段名',
  `is_pk` char(1) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '是否主键（1是）',
  `is_increment` char(1) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '是否自增（1是）',
  `is_required` char(1) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '是否必填（1是）',
  `is_insert` char(1) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '是否为插入字段（1是）',
  `is_edit` char(1) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '是否编辑字段（1是）',
  `is_list` char(1) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '是否列表字段（1是）',
  `is_query` char(1) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '是否查询字段（1是）',
  `query_type` varchar(200) COLLATE utf8mb4_general_ci DEFAULT 'EQ' COMMENT '查询方式（等于、不等于、大于、小于、范围）',
  `html_type` varchar(200) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '显示类型（文本框、文本域、下拉框、复选框、单选框、日期控件）',
  `dict_type` varchar(200) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '字典类型',
  `sort` int(11) DEFAULT NULL COMMENT '排序',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  PRIMARY KEY (`column_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='代码生成业务表字段';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gen_table_column`
--

LOCK TABLES `gen_table_column` WRITE;
/*!40000 ALTER TABLE `gen_table_column` DISABLE KEYS */;
/*!40000 ALTER TABLE `gen_table_column` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_config`
--

DROP TABLE IF EXISTS `sys_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_config` (
  `config_id` int(5) NOT NULL AUTO_INCREMENT COMMENT '参数主键',
  `config_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '参数名称',
  `config_key` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '参数键名',
  `config_value` varchar(500) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '参数键值',
  `config_type` char(1) COLLATE utf8mb4_general_ci DEFAULT 'N' COMMENT '系统内置（Y是 N否）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`config_id`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='参数配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_config`
--

LOCK TABLES `sys_config` WRITE;
/*!40000 ALTER TABLE `sys_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_dept`
--

DROP TABLE IF EXISTS `sys_dept`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_dept` (
  `dept_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '部门id',
  `parent_id` bigint(20) DEFAULT '0' COMMENT '父部门id',
  `ancestors` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '祖级列表',
  `dept_name` varchar(30) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '部门名称',
  `order_num` int(4) DEFAULT '0' COMMENT '显示顺序',
  `leader` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '负责人',
  `phone` varchar(11) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '联系电话',
  `email` varchar(50) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '邮箱',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '部门状态（0正常 1停用）',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '删除标志（0代表存在 2代表删除）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  PRIMARY KEY (`dept_id`)
) ENGINE=InnoDB AUTO_INCREMENT=200 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='部门表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_dept`
--

LOCK TABLES `sys_dept` WRITE;
/*!40000 ALTER TABLE `sys_dept` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_dept` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_dict_data`
--

DROP TABLE IF EXISTS `sys_dict_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_dict_data` (
  `dict_code` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '字典编码',
  `dict_sort` int(4) DEFAULT '0' COMMENT '字典排序',
  `dict_label` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '字典标签',
  `dict_value` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '字典键值',
  `dict_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '字典类型',
  `css_class` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '样式属性（其他样式扩展）',
  `list_class` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '表格回显样式',
  `is_default` char(1) COLLATE utf8mb4_general_ci DEFAULT 'N' COMMENT '是否默认（Y是 N否）',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`dict_code`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='字典数据表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_dict_data`
--

LOCK TABLES `sys_dict_data` WRITE;
/*!40000 ALTER TABLE `sys_dict_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_dict_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_dict_type`
--

DROP TABLE IF EXISTS `sys_dict_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_dict_type` (
  `dict_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '字典主键',
  `dict_name` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '字典名称',
  `dict_type` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '字典类型',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '状态（0正常 1停用）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`dict_id`),
  UNIQUE KEY `dict_type` (`dict_type`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='字典类型表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_dict_type`
--

LOCK TABLES `sys_dict_type` WRITE;
/*!40000 ALTER TABLE `sys_dict_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_dict_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_feedback`
--

DROP TABLE IF EXISTS `sys_feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_feedback` (
  `feedback_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '反馈ID',
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `user_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '用户名',
  `title` varchar(200) COLLATE utf8mb4_general_ci NOT NULL COMMENT '反馈标题',
  `content` varchar(2000) COLLATE utf8mb4_general_ci NOT NULL COMMENT '反馈内容',
  `contact` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '联系方式',
  `status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT 'pending' COMMENT '状态',
  `reply_content` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '回复内容',
  `reply_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '回复人',
  `reply_time` datetime DEFAULT NULL COMMENT '回复时间',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '删除标记',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`feedback_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='意见反馈';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_feedback`
--

LOCK TABLES `sys_feedback` WRITE;
/*!40000 ALTER TABLE `sys_feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job`
--

DROP TABLE IF EXISTS `sys_job`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job` (
  `job_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '任务ID',
  `job_name` varchar(64) COLLATE utf8mb4_general_ci NOT NULL DEFAULT '' COMMENT '任务名称',
  `job_group` varchar(64) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'DEFAULT' COMMENT '任务组名',
  `invoke_target` varchar(500) COLLATE utf8mb4_general_ci NOT NULL COMMENT '调用目标字符串',
  `cron_expression` varchar(255) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT 'cron执行表达式',
  `misfire_policy` varchar(20) COLLATE utf8mb4_general_ci DEFAULT '3' COMMENT '计划执行错误策略（1立即执行 2执行一次 3放弃执行）',
  `concurrent` char(1) COLLATE utf8mb4_general_ci DEFAULT '1' COMMENT '是否并发执行（0允许 1禁止）',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '状态（0正常 1暂停）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '备注信息',
  PRIMARY KEY (`job_id`,`job_name`,`job_group`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='定时任务调度表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job`
--

LOCK TABLES `sys_job` WRITE;
/*!40000 ALTER TABLE `sys_job` DISABLE KEYS */;
INSERT INTO `sys_job` VALUES (1,'系统默认（无参）','DEFAULT','ryTask.ryNoParams','0/10 * * * * ?','3','1','1','admin','2026-03-23 22:57:48','',NULL,''),(2,'系统默认（有参）','DEFAULT','ryTask.ryParams(\'ry\')','0/15 * * * * ?','3','1','1','admin','2026-03-23 22:57:48','',NULL,''),(3,'系统默认（多参）','DEFAULT','ryTask.ryMultipleParams(\'ry\', true, 2000L, 316.50D, 100)','0/20 * * * * ?','3','1','1','admin','2026-03-23 22:57:48','',NULL,'');
/*!40000 ALTER TABLE `sys_job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_log`
--

DROP TABLE IF EXISTS `sys_job_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_log` (
  `job_log_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '任务日志ID',
  `job_name` varchar(64) COLLATE utf8mb4_general_ci NOT NULL COMMENT '任务名称',
  `job_group` varchar(64) COLLATE utf8mb4_general_ci NOT NULL COMMENT '任务组名',
  `invoke_target` varchar(500) COLLATE utf8mb4_general_ci NOT NULL COMMENT '调用目标字符串',
  `job_message` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '日志信息',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '执行状态（0正常 1失败）',
  `exception_info` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '异常信息',
  `start_time` datetime DEFAULT NULL COMMENT '执行开始时间',
  `end_time` datetime DEFAULT NULL COMMENT '执行结束时间',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  PRIMARY KEY (`job_log_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='定时任务调度日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_log`
--

LOCK TABLES `sys_job_log` WRITE;
/*!40000 ALTER TABLE `sys_job_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_logininfor`
--

DROP TABLE IF EXISTS `sys_logininfor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_logininfor` (
  `info_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '访问ID',
  `user_name` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '用户账号',
  `ipaddr` varchar(128) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '登录IP地址',
  `login_location` varchar(255) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '登录地点',
  `browser` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '浏览器类型',
  `os` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '操作系统',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '登录状态（0成功 1失败）',
  `msg` varchar(255) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '提示消息',
  `login_time` datetime DEFAULT NULL COMMENT '访问时间',
  PRIMARY KEY (`info_id`),
  KEY `idx_sys_logininfor_s` (`status`),
  KEY `idx_sys_logininfor_lt` (`login_time`)
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='系统访问记录';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_logininfor`
--

LOCK TABLES `sys_logininfor` WRITE;
/*!40000 ALTER TABLE `sys_logininfor` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_logininfor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_menu`
--

DROP TABLE IF EXISTS `sys_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_menu` (
  `menu_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '菜单ID',
  `menu_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT '菜单名称',
  `parent_id` bigint(20) DEFAULT '0' COMMENT '父菜单ID',
  `order_num` int(4) DEFAULT '0' COMMENT '显示顺序',
  `path` varchar(200) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '路由地址',
  `component` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '组件路径',
  `query` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '路由参数',
  `route_name` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '路由名称',
  `is_frame` int(1) DEFAULT '1' COMMENT '是否为外链（0是 1否）',
  `is_cache` int(1) DEFAULT '0' COMMENT '是否缓存（0缓存 1不缓存）',
  `menu_type` char(1) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '菜单类型（M目录 C菜单 F按钮）',
  `visible` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '菜单状态（0显示 1隐藏）',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '菜单状态（0正常 1停用）',
  `perms` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '权限标识',
  `icon` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '#' COMMENT '菜单图标',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '备注',
  PRIMARY KEY (`menu_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2342 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='菜单权限表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_menu`
--

LOCK TABLES `sys_menu` WRITE;
/*!40000 ALTER TABLE `sys_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_notice`
--

DROP TABLE IF EXISTS `sys_notice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_notice` (
  `notice_id` int(4) NOT NULL AUTO_INCREMENT COMMENT '公告ID',
  `notice_title` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT '公告标题',
  `notice_type` char(1) COLLATE utf8mb4_general_ci NOT NULL COMMENT '公告类型（1通知 2公告）',
  `notice_content` longblob COMMENT '公告内容',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '公告状态（0正常 1关闭）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`notice_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='通知公告表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_notice`
--

LOCK TABLES `sys_notice` WRITE;
/*!40000 ALTER TABLE `sys_notice` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_notice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_notice_read`
--

DROP TABLE IF EXISTS `sys_notice_read`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_notice_read` (
  `read_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '已读主键',
  `notice_id` int(4) NOT NULL COMMENT '公告id',
  `user_id` bigint(20) NOT NULL COMMENT '用户id',
  `read_time` datetime NOT NULL COMMENT '阅读时间',
  PRIMARY KEY (`read_id`),
  UNIQUE KEY `uk_user_notice` (`user_id`,`notice_id`) COMMENT '同一用户同一公告只记录一次'
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='公告已读记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_notice_read`
--

LOCK TABLES `sys_notice_read` WRITE;
/*!40000 ALTER TABLE `sys_notice_read` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_notice_read` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_oper_log`
--

DROP TABLE IF EXISTS `sys_oper_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_oper_log` (
  `oper_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '日志主键',
  `title` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '模块标题',
  `business_type` int(2) DEFAULT '0' COMMENT '业务类型（0其它 1新增 2修改 3删除）',
  `method` varchar(200) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '方法名称',
  `request_method` varchar(10) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '请求方式',
  `operator_type` int(1) DEFAULT '0' COMMENT '操作类别（0其它 1后台用户 2手机端用户）',
  `oper_name` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '操作人员',
  `dept_name` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '部门名称',
  `oper_url` varchar(255) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '请求URL',
  `oper_ip` varchar(128) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '主机地址',
  `oper_location` varchar(255) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '操作地点',
  `oper_param` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '请求参数',
  `json_result` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '返回参数',
  `status` int(1) DEFAULT '0' COMMENT '操作状态（0正常 1异常）',
  `error_msg` varchar(2000) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '错误消息',
  `oper_time` datetime DEFAULT NULL COMMENT '操作时间',
  `cost_time` bigint(20) DEFAULT '0' COMMENT '消耗时间',
  PRIMARY KEY (`oper_id`),
  KEY `idx_sys_oper_log_bt` (`business_type`),
  KEY `idx_sys_oper_log_s` (`status`),
  KEY `idx_sys_oper_log_ot` (`oper_time`)
) ENGINE=InnoDB AUTO_INCREMENT=109 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='操作日志记录';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_oper_log`
--

LOCK TABLES `sys_oper_log` WRITE;
/*!40000 ALTER TABLE `sys_oper_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_oper_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_post`
--

DROP TABLE IF EXISTS `sys_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_post` (
  `post_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '岗位ID',
  `post_code` varchar(64) COLLATE utf8mb4_general_ci NOT NULL COMMENT '岗位编码',
  `post_name` varchar(50) COLLATE utf8mb4_general_ci NOT NULL COMMENT '岗位名称',
  `post_sort` int(4) NOT NULL COMMENT '显示顺序',
  `status` char(1) COLLATE utf8mb4_general_ci NOT NULL COMMENT '状态（0正常 1停用）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`post_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='岗位信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_post`
--

LOCK TABLES `sys_post` WRITE;
/*!40000 ALTER TABLE `sys_post` DISABLE KEYS */;
INSERT INTO `sys_post` VALUES (1,'platform_director','平台负责人',1,'0','admin','2026-03-23 22:57:46','',NULL,''),(2,'teaching_manager','教学主管',2,'0','admin','2026-03-23 22:57:46','',NULL,''),(3,'resource_auditor','资源审核员',3,'0','admin','2026-03-23 22:57:46','',NULL,''),(4,'course_assistant','课程助理',4,'0','admin','2026-03-23 22:57:46','',NULL,'');
/*!40000 ALTER TABLE `sys_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role`
--

DROP TABLE IF EXISTS `sys_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_role` (
  `role_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '角色ID',
  `role_name` varchar(30) COLLATE utf8mb4_general_ci NOT NULL COMMENT '角色名称',
  `role_key` varchar(100) COLLATE utf8mb4_general_ci NOT NULL COMMENT '角色权限字符串',
  `role_sort` int(4) NOT NULL COMMENT '显示顺序',
  `data_scope` char(1) COLLATE utf8mb4_general_ci DEFAULT '1' COMMENT '数据范围（1：全部数据权限 2：自定数据权限 3：本部门数据权限 4：本部门及以下数据权限）',
  `menu_check_strictly` tinyint(1) DEFAULT '1' COMMENT '菜单树选择项是否关联显示',
  `dept_check_strictly` tinyint(1) DEFAULT '1' COMMENT '部门树选择项是否关联显示',
  `status` char(1) COLLATE utf8mb4_general_ci NOT NULL COMMENT '角色状态（0正常 1停用）',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '删除标志（0代表存在 2代表删除）',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=100 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='角色信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role`
--

LOCK TABLES `sys_role` WRITE;
/*!40000 ALTER TABLE `sys_role` DISABLE KEYS */;
INSERT INTO `sys_role` VALUES (1,'超级管理员','admin',1,'1',1,1,'0','0','admin','2026-03-23 22:57:46','',NULL,'超级管理员'),(2,'普通角色','common',2,'2',1,1,'0','0','admin','2026-03-23 22:57:46','',NULL,'普通角色'),(3,'教师','teacher',3,'1',1,1,'0','0','admin','2026-03-23 22:57:48','',NULL,'教学资源模块教师角色'),(4,'学生','student',4,'1',1,1,'0','0','admin','2026-03-23 22:57:48','',NULL,'教学资源模块学生角色'),(5,'审核员','auditor',5,'1',1,1,'0','0','admin','2026-03-23 22:57:48','',NULL,'教学资源模块审核员角色');
/*!40000 ALTER TABLE `sys_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role_dept`
--

DROP TABLE IF EXISTS `sys_role_dept`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_role_dept` (
  `role_id` bigint(20) NOT NULL COMMENT '角色ID',
  `dept_id` bigint(20) NOT NULL COMMENT '部门ID',
  PRIMARY KEY (`role_id`,`dept_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='角色和部门关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role_dept`
--

LOCK TABLES `sys_role_dept` WRITE;
/*!40000 ALTER TABLE `sys_role_dept` DISABLE KEYS */;
INSERT INTO `sys_role_dept` VALUES (2,100),(2,101),(2,105);
/*!40000 ALTER TABLE `sys_role_dept` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role_menu`
--

DROP TABLE IF EXISTS `sys_role_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_role_menu` (
  `role_id` bigint(20) NOT NULL COMMENT '角色ID',
  `menu_id` bigint(20) NOT NULL COMMENT '菜单ID',
  PRIMARY KEY (`role_id`,`menu_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='角色和菜单关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role_menu`
--

LOCK TABLES `sys_role_menu` WRITE;
/*!40000 ALTER TABLE `sys_role_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_role_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user`
--

DROP TABLE IF EXISTS `sys_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user` (
  `user_id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '用户ID',
  `dept_id` bigint(20) DEFAULT NULL COMMENT '部门ID',
  `user_name` varchar(30) COLLATE utf8mb4_general_ci NOT NULL COMMENT '用户账号',
  `nick_name` varchar(30) COLLATE utf8mb4_general_ci NOT NULL COMMENT '用户昵称',
  `user_type` varchar(2) COLLATE utf8mb4_general_ci DEFAULT '00' COMMENT '用户类型（00系统用户）',
  `email` varchar(50) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '用户邮箱',
  `phonenumber` varchar(11) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '手机号码',
  `sex` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '用户性别（0男 1女 2未知）',
  `avatar` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '头像地址',
  `password` varchar(100) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '密码',
  `status` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '账号状态（0正常 1停用）',
  `del_flag` char(1) COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '删除标志（0代表存在 2代表删除）',
  `login_ip` varchar(128) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '最后登录IP',
  `login_date` datetime DEFAULT NULL COMMENT '最后登录时间',
  `pwd_update_date` datetime DEFAULT NULL COMMENT '密码最后更新时间',
  `create_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '创建者',
  `create_time` datetime DEFAULT NULL COMMENT '创建时间',
  `update_by` varchar(64) COLLATE utf8mb4_general_ci DEFAULT '' COMMENT '更新者',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `remark` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='用户信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user`
--

LOCK TABLES `sys_user` WRITE;
/*!40000 ALTER TABLE `sys_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user_post`
--

DROP TABLE IF EXISTS `sys_user_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user_post` (
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `post_id` bigint(20) NOT NULL COMMENT '岗位ID',
  PRIMARY KEY (`user_id`,`post_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='用户与岗位关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user_post`
--

LOCK TABLES `sys_user_post` WRITE;
/*!40000 ALTER TABLE `sys_user_post` DISABLE KEYS */;
INSERT INTO `sys_user_post` VALUES (1,1),(2,2);
/*!40000 ALTER TABLE `sys_user_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user_role`
--

DROP TABLE IF EXISTS `sys_user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user_role` (
  `user_id` bigint(20) NOT NULL COMMENT '用户ID',
  `role_id` bigint(20) NOT NULL COMMENT '角色ID',
  PRIMARY KEY (`user_id`,`role_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='用户和角色关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user_role`
--

LOCK TABLES `sys_user_role` WRITE;
/*!40000 ALTER TABLE `sys_user_role` DISABLE KEYS */;
INSERT INTO `sys_user_role` VALUES (1,1),(2,2),(100,3),(101,4),(102,5),(104,4);
/*!40000 ALTER TABLE `sys_user_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'ry-vue'
--

--
-- Dumping routines for database 'ry-vue'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-24 21:29:52
